<!DOCTYPE html>
<html>



<body>


    <div style="background-color:#1a237e;">

        <p style="text-align:center"><img
                src="https://drive.google.com/uc?export=view&id=1oU-wZQCbQk5Dfc37G3qmeMqV41YjU_Dx" width=500 height=100
                alt="Centa Logo"><img></p>
    </div>


    <div  style="color: #212121">
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Dear Mr/Ms NAME HERE,</p>

        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;margin-top:10px">Your inquiry being processed, we will
            be in contact soon!</p>
        <br />
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; margin:0px">Thanks in advance,</p>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;margin-top:3px">Centra team</p>
    </div>

    <br />
</body>

<footer>
    <div >
        <div >
            <h5  style="text-align:left; color: #1a237e ;">
                About:
            </h5>
            <p style="color: #212121;">
            <p style="text-align:left;">
                Phone: +20 (111)4888898
            </p>

            <p style="text-align:left;">
                Landline: +20 (2) 27429697 /
                27429698
            </p>
            <p style="text-align:left;">
                Fax: +20 (2)
                38210475
            </p>
            <p style="text-align:left;">
                Email: info@centra-egypt.com
            </p>
            </p>
        </div>
        <div >
            <h5 style="text-align:left;color:#1a237e ">
                Office Address:
            </h5>
            <p>Centra, 206 of 6th Extension Area,6th Of October City, Giza, Egypt</p>
        </div>

    </div>

    </div>
    </div>
</footer>

</html>